main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #800080;
    padding: 4vh 0;
}

section {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    flex-wrap: wrap;
    gap: 10px;
}

h1 {
    color: white;
    font-size: 44px;
    margin-bottom: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFB41C;
    width: 246px;
    border-radius: 38px;
}

img {
    height: 220px;
    width: 140px;
}

figcaption {
    color: #ED2E2E;
    font-weight: 700;
    font-size: 20px;
}